<form [formGroup]="authForm" class="form">
  <h1 class="title">Авторизация</h1>
  <div class="inputs">
    <div>
      <input
        class="input"
        type="text"
        pInputText
        formControlName="email"
        placeholder="Логин"
      />
    </div>
    <div>
      <input
        class="input"
        type="password"
        pInputText
        placeholder="Пароль"
        formControlName="password"
      />
    </div>
  </div>
  <button pButton (click)="login()" label="Войти" class="button-login"></button>
</form>
