<form [formGroup]="authForm" class="form">
  <h1 class="title">Авторизация</h1>
  <div class="inputs">
    <div class="input">
      <input
        class="input"
        type="text"
        pInputText
        formControlName="email"
        placeholder="Логин"
      />
      <p
        *ngIf="
          authForm.get('email')?.invalid &&
          (authForm.get('email')?.dirty ||
            authForm.get('email')?.touched ||
            error)
        "
        class="error"
      >
        Введите верный логин
      </p>
    </div>
    <div>
      <input
        class="input"
        type="password"
        pInputText
        placeholder="Пароль"
        formControlName="password"
      />
      <p
        *ngIf="
          authForm.get('password')?.invalid &&
          (authForm.get('password')?.dirty ||
            authForm.get('password')?.touched ||
            error)
        "
        class="error"
      >
        Введите пароль
      </p>
    </div>
  </div>
  <button pButton (click)="login()" label="Войти" class="button-login"></button>
</form>
